/* Essentials */
html, div, map, dt, isindex, form, header, aside, section, section,
	article, footer {
	display: block;
}

html, body {
	height: 100%;
	margin: 0 0 0 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F8F8F8;
	font-size: 11px;
}

.clear {
	clear: both;
}

.spacer {
	height: 20px;
}

a:link, a:visited {
	color: #77BACE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */
header#header {
	height: 55px;
	width: 100%;
	background: url(../images/head2.png) repeat-x;
    border-bottom: 2px solid #373085;
}

header#header h1.site_title, header#header h2.section_title {
	float: left;
	margin: 0;
	font-size: 21px;
	display: block;
	width: 19%;
	height: 55px;
	font-weight: normal;
	text-align: left;
	text-indent: 1.8%;
	line-height: 55px;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a {
	color: #fff;
	text-decoration: none;
}

header#header h1.site_title img {
	padding: 5px;
	float: left;
    margin-top: -3px;
}

header#header h2.section_title {
	text-align: center;
	text-indent: 4.5%;
	width: 68%;
    font: 15px/1.6 'Roboto', sans-serif;
}

.btn_view_site {
	float: left;
	width: 9%;
}

.btn_view_site a {
	display: block;
	margin-top: 15px;
	width: 80px;
	height: 27px;
	background: url(../images/btn_view_site2.png) no-repeat;
	text-align: center;
	line-height: 22px;
	color: #000;
	text-decoration: none;
	text-shadow: 0 -1px 0 #fff;
}

.btn_view_site a:hover {
	background-position: 0 -27px;
}

/* Secondary Header Bar */
section#secondary_bar {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
	float: left;
	width: 19%;
	height: 38px;
}

.user p {
	margin: 0;
	padding: 0;
	color: #666666;
	font-weight: bold;
	display: block;
	float: left;
	width: 85%;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	text-shadow: 0 1px 0 #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*background: url(../images/icn_user.png) no-repeat center left;*/
	margin-left: 6%;
}

.user a {
	text-decoration: none;
	color: #666666
}

.user a:hover {
	color: #77BACE;
}

.user a.logout_user {
	float: left;
	display: block;
	width: 16px;
	height: 35px;
	text-indent: -5000px;
	background: url(../images/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */
section#secondary_bar .breadcrumbs_container {
	float: left;
	width: 81%;
	background: url(../images/secondary_bar_shadow.png) no-repeat left top;
	height: 38px;
}

article.breadcrumbs {
	float: left;
	padding: 0 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	height: 23px;
	margin: 4px 3%;
}

.breadcrumbs a {
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
	color: #9E9E9E;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
	color: #44474F;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}

.breadcrumbs a:hover {
	color: #222222;
}

.breadcrumb_divider {
	display: inline-block;
	width: 12px;
	height: 24px;
	background: url(../images/breadcrumb_divider.png) no-repeat;
	float: left;
	margin: 0 5px;
}

/* Sidebar */
aside#sidebar {
	width: 19%;
	background: #E0E0E3 url(../images/sidebar.png) repeat;
	float: left;
	margin-top: -4px;
    max-height: 86%;
    min-height: 86%;
	overflow-y: auto;
}

#sidebar hr {
	border: none;
	outline: none;
	background: url(../images/sidebar_divider.png) repeat-x;
	display: block;
	width: 100%;
	height: 2px;
}

/* Search */
.quick_search {
	text-align: center;
	padding: 14px 0 10px 0;
}

.quick_search input[type=text] {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #bbb;
	height: 26px;
	width: 90%;
	color: #ccc;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	text-indent: 30px;
	background: #fff url(../images/icn_search.png) no-repeat;
	background-position: 10px 6px;
}

.quick_search input[type=text]:focus {
	outline: none;
	color: #666666;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* Sidebar Menu */
#sidebar h3 {
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	margin: 10px 0 10px 6%;
	display: block;
	float: left;
	width: 90%;
}

.toggleLink {
	color: #999999;
	font-size: 10px;
	text-decoration: none;
	display: block;
	float: right;
	margin-right: 2%
}

#sidebar .toggleLink:hover {
	color: #77BACE;
	text-decoration: none;
}

#sidebar ul {
	clear: both;
	margin: 0;
	padding: 0;
}

#sidebar li {
	list-style: none;
	margin: 0 0 0 12%;
	padding: 0;
}

#sidebar li a {
	color: #666666;
	padding-left: 25px;
	text-decoration: none;
	display: inline-block;
	height: 17px;
	line-height: 17px;
	text-shadow: 0 1px 0 #fff;
	margin: 2px 0;
}

#sidebar li a:hover {
	color: #444444;
}

/* Sidebar Icons */
#sidebar li.icn_new_article a {
	background: url(../images/icn_new_article.png) no-repeat center left;
}

#sidebar li.icn_edit_article a {
	background: url(../images/icn_edit_article.png) no-repeat center left;
}

#sidebar li.icn_categories a {
	background: url(../images/icn_categories.png) no-repeat center left;
}

#sidebar li.icn_tags a {
	background: url(../images/icn_tags.png) no-repeat center left;
}

#sidebar li.icn_add_user a {
	background: url(../images/icn_add_user.png) no-repeat center left;
}

#sidebar li.icn_view_users a {
	background: url(../images/icn_view_users.png) no-repeat center left;
}

#sidebar li.icn_profile a {
	background: url(../images/icn_profile.png) no-repeat center left;
}

#sidebar li.icn_folder a {
	background: url(../images/icn_folder.png) no-repeat center left;
}

#sidebar li.icn_photo a {
	background: url(../images/icn_photo.png) no-repeat center left;
}

#sidebar li.icn_audio a {
	background: url(../images/icn_audio.png) no-repeat center left;
}

#sidebar li.icn_video a {
	background: url(../images/icn_video.png) no-repeat center left;
}

#sidebar li.icn_settings a {
	background: url(../images/icn_settings.png) no-repeat center left;
}

#sidebar li.icn_security a {
	background: url(../images/icn_security.png) no-repeat center left;
}

#sidebar li.icn_jump_back a {
	background: url(../images/icn_jump_back.png) no-repeat center left;
}

#sidebar p {
	color: #666666;
	padding-left: 6%;
	text-shadow: 0 1px 0 #fff;
	margin: 10px 0 0 0;
}

#sidebar a {
	color: #666666;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar footer {
	margin-top: 20%;
}

/* Main Content */
section#main {
	width: 81%;
    min-height: 80%;
    max-height: 84%;
	background: url(../images/sidebar_shadow.png) repeat-y left top;
	float: left;
	margin-top: -2px;
    padding: 0px 0px 10px 0px;
    overflow-y: auto;
}

#main h3 {
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	margin: 8px 20px;
}

/* Modules */
.module {
	border: 1px solid #9BA0AF;
	width: 100%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}

#main .module header h3 {
	display: block;
	width: 90%;
	float: left;
}

.module header {
	height: 36px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar_edit.png) repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.module footer {
	height: 32px;
	width: 100%;
	border-top: 1px solid #9CA1B0;
	background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.module_content {
	margin: 10px 20px;
	color: #666;
}

/* Module Widths */
.width_full {
	width: 95%;
}

.width_half {
	width: 46%;
	margin-right: 0;
	float: left;
}

.width_quarter {
	width: 26%;
	margin-right: 0;
	float: left;
}

.width_3_quarter {
	width: 95%;
	margin-right: 0;
}

/* Stats Module */
.stats_graph {
	width: 64%;
	float: left;
}

.stats_overview {
	background: #F6F6F6;
	border: 1px solid #ccc;
	float: right;
	width: 26%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.overview_today, .overview_previous {
	width: 50%;
	float: left;
}

.stats_overview p {
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
}

.stats_overview p.overview_day {
	font-size: 12px;
	font-weight: bold;
	margin: 6px 0;
}

.stats_overview p.overview_count {
	font-size: 26px;
	font-weight: bold;
	color: #333333;
}

.stats_overview p.overview_type {
	font-size: 10px;
	color: #999999;
	margin-bottom: 8px
}

/* Content Manager */
.table_grid {
	width: 100%;
	font-size: 11px ;
}

.table_grid th {
	border: 1px #ccc solid;
	height: 34px;
	background: url(../images/table_sorter_header.png) repeat-x;
}

.table_grid td {
	padding: 4px;
	border: 1px #ccc solid;
	vertical-align: top;
}

.table_grid td:first-child {
	text-align: center;
	vertical-align: top;
}

.table_grid td:last-child {
	text-align: center;
	vertical-align: top;
}

ul.tabs {
	margin: 5px 10px 0 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 24px; /*--Set height of tabs--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

ul.tabs li a {
	text-decoration: none;
	color: #999;
	display: block;
	padding: 0 10px;
	height: 24px;
}

ul.tabs li a:hover {
	color: #44474F;
}

html ul.tabs li.active a {
	color: #44474F;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
	background: #F1F2F4;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
	font-size: 11px;
	margin: 10px 0px 0 10px;
	display: block;
	width: 80%;
	float: left;
}

/* Messages */
.message {
	border-bottom: 1px dotted #cccccc;
}

input[type=submit], input[type=button] {
	background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
	border: 1px solid #A8A9A8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	font-size:11px !important;
}

input[type=submit]:hover, input[type=button]:hover {
	color: #333333;
}

input[type=submit].blue_btn, input[type=button].blue_btn {
	background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
	border: 1px solid #30B0C8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #003E49;
	text-shadow: 0 1px 0 #6CDCF9;
	cursor: pointer;
}

input[type=submit].green_btn, input[type=button].green_btn {
	background: #84C422;
	border: 1px solid #30B0C8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #FFF;
	text-shadow: 0 1px 0 #6CDCF9;
	cursor: pointer;
}

input[type=submit].blue_btn:hover, input[type=button].blue_btn:hover {
	color: #001217;
}

input[type=submit].btn_post_message {
	background: #D0D1D4 url(../images/post_message.png) no-repeat;
	display: block;
	width: 37px;
	border: none;
	height: 24px;
	cursor: pointer;
	text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
	background-position: 0 -24px;
}

.post_message {
	text-align: left;
	padding: 5px 0;
}

.post_message input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	height: 20px;
	width: 70%;
	color: #ccc;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	text-indent: 10px;
	background-position: 10px 6px;
	float: left;
	margin: 0 3.5%;
}

.post_message input[type=text]:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	color: #666666;
}

.post_message input[type=image] {
	float: left;
}

.message_list {
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* New/Edit Article Module */
fieldset {
	border: 0px;
	padding: 10px 20px;
}

fieldset label {
	display: block;
	float: left;
	height: 23px;
	line-height: 23px;
	text-shadow: 0 1px 0 #fff;
	padding-left: 10px;
}

fieldset input[type=text], fieldset input[type=password], fieldset select
	{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 23px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	margin: 0 10px;
	font-size:11px !important;
}

fieldset select {
	height: 27px !important;
}

fieldset input[type=text]:focus, fieldset input[type=password]:focus fieldset select:focus
	{
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:11px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0 0.5%;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
}

fieldset textarea:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset.hr {
	border-bottom: 1px dashed #BBBBBB !important;
}

.submit_link {
	float: right;
	margin-right: 3%;
	padding: 5px 0;
}

.submit_link select {
	width: 150px;
	border: 1px solid #bbb;
	height: 20px;
	color: #666666;
}

#main .module_content h1 {
	color: #333333;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 22px;
	margin: 8px 0px;
}

#main .module_content h2 {
	color: #444444;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
	margin: 8px 0px;
}

#main .module_content h3 {
	color: #666666;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	margin: 8px 0px;
}

#main .module_content h4 {
	color: #666666;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 0px;
}

#main .module_content li {
	line-height: 150%;
}

/* Alerts */
#main h4.alert_info {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #77BACE;
	color: #082B33;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main h4.alert_warning {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #C7A20D;
	color: #796616;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main h4.alert_error {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #D20009;
	color: #7B040F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main h4.alert_success {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #79C20D;
	color: #32510F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

.td_paging {
	font-family: Tahoma;
	font-size: 10px;
	color: #009ada;
	height: 30px
}

.td_paging a {
	display: inline-block;
	*display: inline;
	border: solid 1px #77c8d7;
	padding: 3px 5px;
	color: #009ada;
	margin-left: 5px;
	font-weight: bold;
	text-decoration: none;
}

.paging_aktif, .td_paging a:hover {
	display: inline-block;
	*display: inline;
	border: solid 1px #77c8d7;
	padding: 3px 5px;
	color: #009ada;
	margin-left: 5px;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFE4C5;
}

.span10 {
	width: 98%;
}

.span9 {
	width: 89%;
}

.span8 {
	width: 79%;
}

.span7 {
	width: 69%;
}

.span6 {
	width: 59%;
}

.span5 {
	width: 49%;
}

.span4 {
	width: 39%;
}

.span3 {
	width: 29%;
}

.span2 {
	width: 19%;
}

.span1 {
	width: 10%;
}

.span0 {
	width: 3%;
}

label.error {
	color: #fb3a3a;
	font-weight: bold;
	cursor: pointer;
}

.mandatory {
	color: red !important;
	font-size: 16pt;
}
.note {
	color: blue !important;
	font-size: 8pt;
}

.table_risk, .table_report {
	width: 100%;
	font-size: 8pt;
}

.table_report th {
	border: 1px #ccc solid;
	height: 34px;
	background: #F5F3BA;
}

.table_report td {
	vertical-align: top;
	padding: 4px;
}

.table_risk th {
	border: 1px #ccc solid;
	height: 34px;
	background: #F5F3BA;
}

.table_risk td {
	border: 1px #ccc solid;
	vertical-align: top;
	padding: 4px;
}

.cmb_risk, .txt_risk {
	font-size: 8pt;
}

.vertical-text {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 0 0 50 0;
	-moz-transform-origin: 0 0 50 0;
	-ms-transform-origin: 0 0 50 0;
	-o-transform-origin: 0 0 50 0;
	transform-origin: 0 0 50 0;
	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 3;
}

.vertical-text {
	float: left;
}

.view_parrent tr {
	height: 25px;
}

.view_parrent td:first-child, .view_parrent td:nth-child(2) {
	font-weight: bold;
}

.view_parrent td {
	vertical-align: top;
}

.table_role {
	border: 1px solid #dddddd;
	background: #eeeeee
		url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top
		repeat-x;
	color: #333333;
}

.table_detail{
	margin-top:30px;
	margin-left:50px;
}

.table_detail td{
	height: 30px;
	vertical-align: top;
	
}
.notif{
	float:right;
	background-color:red;
	display:none;
}

.text_search{
	border:0;
	height:22px;
	font-size:11px;	
}

/*slideshow*/
#slideshow {
	position: relative;
    width: 1000px;
    min-height: 300px;
    margin: 10px 0px 10px 13px;
    padding: 0px 0px 10px 0px;
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4); */
        
}
#slideshow > div {
  position: relative;
}

#slideshow img {
    width: 1000px;
    border: 3px solid #e0e0e3;
    padding: 3px;
    height: 300px;
}
/*#feed {
    float: left;
    padding: 5px;
    width: 400px;
    margin: 10px 20px;
}*/
#jam {
    margin: 15px 0px 0px 0px;
    font-size: 18px;
}
.select_search{
	font-size:11px;	
	height:24px;
}

#clear {
    clear: both;
}
#footer {
	height: 48px;
	width: 100%;
	background: url(../images/head.png) repeat-x;
    border-top: 2px solid #0048cc;
    text-align: center;
    padding-top: 1px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    /*width: 100%;*/
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}