@page{
	margin-left: 0.5in;
	margin-right: 0.2in;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
header {
	position: fixed;
	top: -20px;
	right: 20px;
	text-align: left;
	font-size: 12pt;	
}

.justify{
	text-align:justify;
}

.table_risk {
	page-break-after:avoid;
    /*margin-left:auto; */
    /*margin-right:auto;*/
    /*padding: 0px;*/
	width: 100%;
	font-size: 9pt;
}

.table_zero {
	/*page-break-after:avoid;*/
    /*margin-left:auto; */
    /*margin-right:auto;*/
	width: 100%;
	font-size: 8pt;
}

.table_risk tr, .table_risk td {
	page-break-after:avoid;
}

.table_risk th {
	border: 1px black solid;
	height: 34px;
	/*background: #F5F3BA;*/
}

.table_risk td {
	padding: 4px;
	border: 1px black solid;
	vertical-align: top;
}

.table_ryunmi {
	page-break-after:avoid;
    /*margin-left:auto; */
    /*margin-right:auto;*/
    /*padding: 0px;*/
	width: 100%;
	font-size: 12pt;
}

.table_ryunmi tr, .table_ryunmi td {
	page-break-after:avoid;
}

.table_ryunmi th {
	border: 1px black solid;
	height: 34px;
	/*background: #F5F3BA;*/
}

.table_ryunmi td {
	padding-left: 1px;
	border: 1px black solid;
	/*vertical-align: top;*/
}

.table_guren {
	page-break-after:avoid;
    /*margin-left:auto; */
    /*margin-right:auto;*/
    /*padding: 0px;*/
	width: 100%;
	font-size: 11pt;
}

.table_guren tr, .table_guren td {
	page-break-after:avoid;
}

.table_guren th {
	border: 1px black solid;
	height: 34px;
	/*vertical-align: top;*/
	/*background: #F5F3BA;*/
}

.table_reni td {
	padding-left: 1px;
	border: 1px black solid;
	vertical-align: top;
}

.table_reni {
	page-break-after:avoid;
    /*margin-left:auto; */
    /*margin-right:auto;*/
    /*padding: 0px;*/
	width: 100%;
	font-size: 10pt;
}

.table_reni tr, .table_reni td {
	page-break-after:avoid;
}

.table_reni th {
	border: 1px black solid;
	height: 34px;
	/*vertical-align: top;*/
	/*background: #F5F3BA;*/
}

.table_reni td {
	padding-left: 1px;
	border: 1px black solid;
	vertical-align: top;
}